/*
  Main Style Sheet
 */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; }

img {
  height: auto;
  width: auto;
  vertical-align: middle;
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 12px 0;
  color: #fff; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
    text-decoration: none; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

address {
  font-style: normal; }

.heading-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 21px;
  text-shadow: 0px 0px 2px #343434; }
  @media (min-width: 768px) {
    .heading-text {
      font-size: 25px; } }
  @media (min-width: 1000px) {
    .heading-text {
      font-size: 35px; } }
  .heading-text__large {
    font-weight: bold;
    font-size: 21px;
    color: #fee5a1; }
    @media (min-width: 768px) {
      .heading-text__large {
        font-size: 38px; } }
    @media (min-width: 1000px) {
      .heading-text__large {
        font-size: 55px; } }
  .heading-text__subtitle {
    margin: 12px 0;
    color: #fff;
    font-family: "Inconsolata", monospace;
    font-size: 1.1em; }
    @media (min-width: 1000px) {
      .heading-text__subtitle {
        font-size: 1.6em; } }
  .heading-text__cta-text {
    margin: 0 0 8px 0;
    font-size: 1em;
    color: #fff;
    font-family: "Montserrat", sans-serif; }
    @media (min-width: 1000px) {
      .heading-text__cta-text {
        margin: 0 0 12px 0;
        font-size: 1.6em; } }
  .heading-text__second-heading {
    margin: 8px 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em; }
    @media (min-width: 1000px) {
      .heading-text__second-heading {
        margin: 16px 0;
        font-size: 1.6em; } }
  .heading-text__footer {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 16px; }
    @media (min-width: 1000px) {
      .heading-text__footer {
        font-size: 1.2em;
        margin-bottom: 25px; } }
  .heading-text__center {
    text-align: center; }
  .heading-text__white {
    color: #fff; }
  .heading-text__bot {
    margin-bottom: 20px; }
    @media (min-width: 1000px) {
      .heading-text__bot {
        margin-bottom: 40px; } }
  .heading-text__underline-flair {
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 30px; }
    @media (min-width: 1000px) {
      .heading-text__underline-flair {
        padding-bottom: 40px;
        margin-bottom: 50px; } }
    .heading-text__underline-flair:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 200px;
      background-color: #f8f8f8; }
      @media (min-width: 620px) {
        .heading-text__underline-flair:after {
          width: 300px; } }
    .heading-text__underline-flair--center:after {
      left: 50%;
      transform: translateX(-50%); }
  .heading-text__link {
    transition: color 0.3s ease-in-out; }
    .heading-text__link:hover {
      color: #f8f8f8; }

ul li {
  font-size: 0.9em;
  font-family: "Inconsolata", monospace;
  color: #48bbd4; }
  @media (min-width: 1000px) {
    ul li {
      font-size: 1.2em; } }

.content-text {
  color: #48bbd4;
  font-size: 0.9em; }
  @media (min-width: 1000px) {
    .content-text {
      font-size: 1em; } }

.main-header {
  position: relative; }
  @media (min-width: 768px) {
    .main-header:before {
      position: absolute;
      left: calc(100% - 0px);
      height: 100%;
      width: 100vw;
      content: '';
      transform: skew(-20deg);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b5b5b+0,262626+100 */
      /*background: $mortar; !* Old browsers *!
      background: -moz-linear-gradient(top, $mortar 0%, #262626 100%); !* FF3.6-15 *!
      background: -webkit-linear-gradient(top, $mortar 0%,#262626 100%); !* Chrome10-25,Safari5.1-6 *!
      background: linear-gradient(to bottom, $mortar 0%,#262626 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#262626',GradientType=0 ); !* IE6-9 *!*/ } }

.navbar {
  border-radius: 0 !important;
  margin: 0;
  background-color: #151515;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #0c67a1; }
  @media (min-width: 768px) {
    .navbar {
      overflow-x: hidden;
      position: fixed;
      width: 100%;
      z-index: 50; } }

.nav-item {
  display: inline-block;
  background: #00304e; }
  @media (min-width: 768px) {
    .nav-item {
      /* background: $mortar; !* Old browsers *!
       background: -moz-linear-gradient(top, $mortar 0%, #262626 100%); !* FF3.6-15 *!
       background: -webkit-linear-gradient(top, $mortar 0%,#262626 100%); !* Chrome10-25,Safari5.1-6 *!
       background: linear-gradient(to bottom, $mortar 0%,#262626 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#262626',GradientType=0 ); !* IE6-9 *!*/
      transform: skew(-20deg);
      transition: background 0.3s ease-in-out;
      border-width: 0 1px 0 1px;
      border-style: solid;
      border-color: #0c67a1; }
      .nav-item:hover {
        background: #01436e; }
        .nav-item:hover .nav-link {
          text-decoration: none;
          color: #b5e0fc;
          padding: 15px 40px; }
      .nav-item:nth-of-type(1) {
        border-width: 0 0 0 1px; } }

.nav-link {
  display: inline-block;
  text-transform: uppercase;
  color: #fff; }
  @media (min-width: 768px) {
    .nav-link {
      transition: all 0.3s ease-in-out;
      padding: 15px 30px;
      transform: skew(20deg); } }

.main-home {
  position: relative;
  background: #343434;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b2735+0,090a0f+100 */
  background: #1b2735;
  /* Old browsers */
  background: -moz-radial-gradient(bottom, ellipse cover, #1b2735 0%, #090A0F 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(bottom, ellipse cover, #1b2735 0%, #090A0F 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090A0F 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2735', endColorstr='#090a0f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .main-home:after {
    content: '';
    display: table;
    clear: both; }
  @media (min-width: 1000px) {
    .main-home {
      height: 850px; } }
  .main-home #stars-1 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 2366px 302px #FFF , 3142px 527px #FFF , 2410px 677px #FFF , 1933px 936px #FFF , 2217px 514px #FFF , 2306px 609px #FFF , 1837px 648px #FFF , 2703px 359px #FFF , 32px 363px #FFF , 2939px 971px #FFF , 3793px 955px #FFF , 852px 190px #FFF , 2589px 57px #FFF , 3403px 469px #FFF , 2530px 739px #FFF , 1769px 916px #FFF , 1618px 620px #FFF , 1020px 181px #FFF , 2410px 33px #FFF , 241px 686px #FFF , 3573px 225px #FFF , 2058px 703px #FFF , 3248px 380px #FFF , 1414px 408px #FFF , 2069px 565px #FFF , 989px 366px #FFF , 1097px 289px #FFF , 1135px 174px #FFF , 2074px 529px #FFF , 1600px 367px #FFF , 3496px 895px #FFF , 343px 392px #FFF , 296px 139px #FFF , 3221px 367px #FFF , 3317px 240px #FFF , 939px 320px #FFF , 2619px 916px #FFF , 179px 914px #FFF , 2291px 48px #FFF , 985px 959px #FFF , 2400px 452px #FFF , 1556px 666px #FFF , 3602px 497px #FFF , 2410px 568px #FFF , 621px 607px #FFF , 320px 80px #FFF , 1504px 643px #FFF , 2411px 386px #FFF , 3303px 999px #FFF , 279px 28px #FFF , 1367px 709px #FFF , 822px 782px #FFF , 1137px 312px #FFF , 245px 414px #FFF , 1091px 437px #FFF , 1343px 113px #FFF , 3535px 434px #FFF , 3936px 562px #FFF , 831px 879px #FFF , 1361px 862px #FFF , 711px 559px #FFF , 1838px 43px #FFF , 1177px 369px #FFF , 3800px 328px #FFF , 2785px 654px #FFF , 311px 408px #FFF , 1388px 140px #FFF , 2754px 405px #FFF , 2246px 885px #FFF , 354px 347px #FFF , 2484px 643px #FFF , 2222px 67px #FFF , 1663px 978px #FFF , 49px 640px #FFF , 957px 743px #FFF , 1578px 343px #FFF , 841px 312px #FFF , 988px 693px #FFF , 2242px 857px #FFF , 777px 581px #FFF , 987px 818px #FFF , 1053px 316px #FFF , 3157px 675px #FFF , 2771px 932px #FFF , 352px 634px #FFF , 190px 689px #FFF , 3267px 334px #FFF , 3914px 28px #FFF , 1000px 595px #FFF , 3348px 29px #FFF , 3128px 490px #FFF , 3742px 325px #FFF , 3645px 759px #FFF , 2529px 438px #FFF , 703px 387px #FFF , 1853px 933px #FFF , 2086px 838px #FFF , 772px 940px #FFF , 871px 325px #FFF , 356px 745px #FFF , 64px 271px #FFF , 3044px 378px #FFF , 796px 16px #FFF , 1138px 49px #FFF , 1614px 977px #FFF , 3917px 702px #FFF , 1287px 407px #FFF , 2986px 661px #FFF , 1577px 490px #FFF , 803px 648px #FFF , 2768px 336px #FFF , 549px 895px #FFF , 2897px 731px #FFF , 1626px 970px #FFF , 1396px 278px #FFF , 1868px 341px #FFF , 150px 709px #FFF , 1813px 466px #FFF , 1546px 184px #FFF , 3762px 603px #FFF , 2433px 760px #FFF , 3658px 601px #FFF , 1199px 542px #FFF , 3489px 669px #FFF , 3614px 814px #FFF , 1627px 862px #FFF , 820px 580px #FFF , 2432px 760px #FFF , 974px 470px #FFF , 2829px 132px #FFF , 224px 48px #FFF , 177px 258px #FFF , 478px 279px #FFF , 3809px 886px #FFF , 778px 304px #FFF , 41px 107px #FFF , 3880px 379px #FFF , 2811px 756px #FFF , 902px 875px #FFF , 1516px 709px #FFF , 247px 291px #FFF , 3434px 556px #FFF , 3578px 406px #FFF , 2979px 808px #FFF , 568px 59px #FFF , 958px 466px #FFF , 44px 86px #FFF , 2504px 518px #FFF , 3865px 743px #FFF , 1168px 716px #FFF , 636px 102px #FFF , 3948px 562px #FFF , 3884px 635px #FFF , 3882px 26px #FFF , 760px 5px #FFF , 1862px 658px #FFF , 1637px 926px #FFF , 1451px 109px #FFF , 2232px 18px #FFF , 1478px 373px #FFF , 129px 874px #FFF , 129px 822px #FFF , 3606px 195px #FFF , 904px 187px #FFF , 295px 246px #FFF , 3578px 33px #FFF , 2642px 41px #FFF , 1478px 433px #FFF , 516px 494px #FFF , 1607px 244px #FFF , 1460px 695px #FFF , 1689px 773px #FFF , 322px 922px #FFF , 2103px 579px #FFF , 2460px 660px #FFF , 3088px 878px #FFF , 3562px 580px #FFF , 109px 887px #FFF , 3950px 706px #FFF , 484px 634px #FFF , 3554px 130px #FFF , 2785px 20px #FFF , 681px 843px #FFF , 2260px 555px #FFF , 3262px 232px #FFF , 953px 643px #FFF , 3424px 21px #FFF , 1367px 99px #FFF , 1350px 398px #FFF , 1092px 668px #FFF , 2763px 653px #FFF , 533px 255px #FFF , 852px 193px #FFF , 86px 203px #FFF , 493px 507px #FFF , 2035px 586px #FFF , 2095px 932px #FFF , 2857px 125px #FFF , 1760px 52px #FFF , 144px 124px #FFF; }
  .main-home #stars-2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 2199px 743px #FFF , 2266px 154px #FFF , 2700px 995px #FFF , 3773px 929px #FFF , 1978px 540px #FFF , 115px 511px #FFF , 1860px 177px #FFF , 957px 766px #FFF , 844px 668px #FFF , 1346px 606px #FFF , 512px 318px #FFF , 3742px 294px #FFF , 2124px 691px #FFF , 3314px 932px #FFF , 3370px 839px #FFF , 1306px 232px #FFF , 1751px 503px #FFF , 1387px 250px #FFF , 1042px 534px #FFF , 970px 401px #FFF , 16px 2px #FFF , 1897px 265px #FFF , 2549px 889px #FFF , 3414px 415px #FFF , 2516px 842px #FFF , 1716px 441px #FFF , 1464px 911px #FFF , 2990px 934px #FFF , 992px 487px #FFF , 3698px 109px #FFF , 563px 361px #FFF , 1001px 183px #FFF , 2911px 334px #FFF , 424px 922px #FFF , 3541px 563px #FFF , 3996px 275px #FFF , 2583px 400px #FFF , 1930px 18px #FFF , 3412px 462px #FFF , 3960px 475px #FFF , 657px 435px #FFF , 1012px 302px #FFF , 937px 568px #FFF , 1882px 875px #FFF , 71px 538px #FFF , 1593px 912px #FFF , 3591px 995px #FFF , 3216px 327px #FFF , 1636px 352px #FFF , 269px 53px #FFF; }
  .main-home #stars-3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 2380px 202px #FFF , 1891px 916px #FFF , 2991px 651px #FFF , 184px 626px #FFF , 485px 569px #FFF , 2734px 481px #FFF , 1344px 991px #FFF , 1133px 216px #FFF , 2408px 26px #FFF , 2472px 790px #FFF; }
  .main-home .container {
    height: 100%; }
    @media (min-width: 1000px) {
      .main-home .container {
        padding-top: 100px; } }
  .main-home__graphic {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0; }
  .main-home__planet {
    z-index: 1;
    position: absolute;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 50%;
    transform: rotate(-40deg); }
    .main-home__planet:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .main-home__planet .ring {
      width: 180%;
      height: 180%;
      border: solid 5px;
      border-radius: 50%;
      top: -40%;
      left: -40%;
      position: absolute;
      transform: rotate3d(0.7, 0.4, 0, 79deg);
      box-sizing: border-box; }
    .main-home__planet--1 {
      bottom: 37%;
      left: 33%;
      width: 16%;
      background: #d73838;
      background: linear-gradient(#d73838 5%, #5D1A1A 60%, #380B0B 100%); }
      .main-home__planet--1 .ring {
        border-color: #686159 #938b7e #756d60 #827b71;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); }
    .main-home__planet--2 {
      top: 54%;
      right: 33%;
      width: 3%;
      background: #a57700;
      background: linear-gradient(#a57700 5%, #992e1d 50%, rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0) 100%); }
    .main-home__planet--3 {
      top: 24%;
      left: 50%;
      width: 1%;
      background: #4a5fa6;
      background: linear-gradient(#475b9f 20%, #1b2e37 60%, rgba(0, 0, 0, 0) 100%); }
    .main-home__planet--4 {
      top: 38%;
      right: -8%;
      width: 20%;
      background: #4d6667;
      background: linear-gradient(#364748 5%, #273334 60%, #1c2526 100%); }
    .main-home__planet--5 {
      top: 33%;
      left: 5%;
      width: 3%;
      background: #9d8776;
      background: linear-gradient(#9d8776 20%, #564941 60%, rgba(0, 0, 0, 0) 100%); }
  .main-home__cityscape {
    visibility: hidden; }
  .main-home__biru {
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 6%; }
    .main-home__biru:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .main-home__biru--thin {
      width: 4%;
      background-color: #363636; }
    .main-home__biru--med {
      width: 5%;
      background-color: #494949; }
    .main-home__biru--max {
      width: 6%;
      background-color: #5c5c5c; }
    .main-home__biru--1 {
      background-color: #292929;
      height: 11%;
      left: 30%; }
    .main-home__biru--2 {
      background-color: #292929;
      height: 11%;
      left: 60%; }
    .main-home__biru--3 {
      height: 10%;
      left: 35%; }
    .main-home__biru--4 {
      height: 14%;
      left: 60%; }
    .main-home__biru--5 {
      height: 15%;
      left: 20%; }
    .main-home__biru--6 {
      height: 13%;
      left: 40%; }
    .main-home__biru--7 {
      height: 12%;
      left: 20%; }
    .main-home__biru--8 {
      height: 13%;
      left: 33%; }
    .main-home__biru--9 {
      height: 12%;
      left: 83%; }
    .main-home__biru--10 {
      height: 22%;
      left: 55%; }
    .main-home__biru--11 {
      height: 18%;
      left: 65%; }
    .main-home__biru--12 {
      height: 23%;
      left: 32%; }
    .main-home__biru--13 {
      height: 30%;
      left: 44%; }
    .main-home__biru--14 {
      height: 22%;
      left: 50%; }
  .main-home__container {
    position: relative;
    height: 100%; }
  .main-home__cta {
    z-index: 10; }
    .main-home__cta:after {
      content: '';
      display: table;
      clear: both; }
    @media (min-width: 1000px) {
      .main-home__cta {
        position: absolute;
        /*right: 0;
        height: 100%;*/
        display: flex;
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: space-between;
        width: 100%;
        bottom: 50px; } }
  @media (min-width: 1000px) {
    .main-home__wrapper {
      padding: 0 20px;
      width: 33.3333333333%;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
      display: flex; }
      .main-home__wrapper:nth-of-type(1) {
        padding-left: 0; }
      .main-home__wrapper:nth-of-type(3) {
        padding-right: 0; } }
  .main-home__block {
    background-color: rgba(21, 21, 21, 0.9);
    border: 1px solid #0c67a1;
    padding: 12px;
    margin: 12px 0;
    -webkit-box-shadow: 0 0 5px 0 rgba(12, 103, 161, 0.7);
    -moz-box-shadow: 0 0 5px 0 rgba(12, 103, 161, 0.7);
    box-shadow: 0 0 5px 0 rgba(12, 103, 161, 0.7); }
    @media (min-width: 1000px) {
      .main-home__block {
        padding: 20px;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto; } }

.main-about {
  background-color: #151515;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #0c67a1;
  padding: 20px 0;
  text-align: left; }
  @media (min-width: 1000px) {
    .main-about {
      text-align: center;
      padding: 80px 0; } }
  @media (min-width: 1000px) {
    .main-about__left {
      float: left; } }
  @media (min-width: 1000px) {
    .main-about__right {
      float: right; } }

.main-footer {
  background-color: #151515; }
  .main-footer hr {
    border-color: #0c67a1; }

/*# sourceMappingURL=style.css.map */
