
$gondola: #343434; // dark grey
$mortar: #4d4d4d;
$nero: #262626;
$falu: #801515;
$persianred: #d73838;
$burnt: #5D1A1A;
$chocolate: #380B0B;

$tangaroa: #1b2735;
$blackpearl: #090A0F;



$black: #000;
$white: #fff;

$text: $black;