.main-home {
  position: relative;
  background: $gondola;
  overflow: hidden;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1b2735+0,090a0f+100 */
  background: $tangaroa; /* Old browsers */
  background: -moz-radial-gradient(bottom, ellipse cover, $tangaroa 0%, $blackpearl 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(bottom, ellipse cover, $tangaroa 0%,$blackpearl 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at bottom, $tangaroa 0%,$blackpearl 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b2735', endColorstr='#090a0f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  #stars-1 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
  #stars-2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
  #stars-3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }

  @include breakpoint('mlarge') {
    height: 100vh;
  }
  .container {
    height: 100%;
  }
  &__graphic {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
  }
  &__planet {
    z-index: 1;
    position: absolute;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 50%;
    transform: rotate(-40deg);


    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }

    .ring {
      width: 180%;
      height: 180%;
      border: solid 5px;
      border-radius: 50%;
      top: -40%;
      left: -40%;
      position: absolute;
      transform: rotate3d(0.7, 0.4, 0, 79deg);
      box-sizing: border-box;
    }
  }

  .p-1 {
    bottom: 42%;
    left: 34%;
    width: 8%;
    background: #562f60;
    background: linear-gradient($persianred 5%, $burnt 60%, $chocolate 100%);

    .ring {
      border-color: #964a82 #bb5b99 #9859a4 #bb5b99;
      box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    }
  }

  &__container {
    position: relative;
    height: 100%;
  }
  &__cta {
    @include clearfix();
    @include breakpoint('mlarge') {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }
  &__block {
    @include breakpoint('mlarge') {
      position: absolute;
      right: 0;
      &:nth-of-type(2) {
        top: 50%;
        right: 100px;
      }
      &:nth-of-type(3) {
        bottom: 80px;
      }
    }
  }
  &__cta-text {
    font-size: 2.0em;
    color: $white;
  }
}

.main-about {
  background-color: $mortar;
  @include breakpoint('mlarge') {
    height: 100vh;
  }
  &__left {
    @include breakpoint('mlarge') {
      float: left;
    }
  }
  &__right {
    @include breakpoint('mlarge') {
      float: right;
    }
  }
}