.main-header {
  position: relative;

  &:before {
    @include breakpoint('smedium'){
      position: absolute;
      left: calc(100% - 0px);
      height: 100%;
      width: 100vw;
      content: '';
      transform: skew(-20deg);

    }
  }
}

.navbar {
  display: none;
  @include breakpoint('smedium') {
    display: inline-block;
    border-radius: 0 !important;
    margin: 0;
    background-color: $mineshaft;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $darkerblue;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    z-index: 50;
  }
}

.nav-item {

  background: $skynight;
  @include breakpoint('smedium') {
    display: inline-block;
    transform: skew(-20deg);
    transition: background 0.3s ease-in-out;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: $darkerblue;
    &:hover {
      background: $deepblue;
      .nav-link {
        text-decoration: none;
        color: $evenligherblue;
        //padding: 15px 40px;
      }
    }

    &:nth-of-type(1) {
      border-width: 0 1px 0 1px;
    }
    & .nav-link {
      &:active, &:focus {
        outline: 0;
        border: none;
        -moz-outline-style: none;
      }
    }
  }
}
.nav-link {
  display: inline-block;
  text-transform: uppercase;
  color: $white;
  @include breakpoint('smedium'){
    transition: all 0.3s ease-in-out;
    padding: 15px 30px;
    transform: skew(20deg);
  }
}
